extends layout

block content
  .wr
    header
      .mh
        h1= title
      .ti
        marquee
          ul
            li #{a0title}
            li #{a1title}
            li #{a2title}
            li #{a3title}
            li #{a4title}
            li #{a5title}
            li #{a6title}
            li #{a7title}
            li #{a8title}
            li #{a9title}
    main
      .fe
        .i
          img(src="c/0.jpg").blur
        aside
          h2 
            a(href=a0url) #{a0title}
          p #{a0desc}
          a(class="co" href=a0comUrl) #{a0comCount} comments
      .gr
        .c1
          section
            .i
              img(src="c/1.jpg").blur
            h3 
              a(href=a1url) #{a1title}
            p #{a1desc}
            a(class="co" href=a1comUrl) #{a1comCount} comments
          section
            .i
              img(src="c/2.jpg").blur
            h3 
              a(href=a2url) #{a2title}
            p #{a2desc}
            a(class="co" href=a2comUrl) #{a2comCount} comments
          section
            .i
              img(src="c/3.jpg").blur
            h3 
              a(href=a3url) #{a3title}
            p #{a3desc}
            a(class="co" href=a3comUrl) #{a3comCount} comments
        .c2
          section
            .i
              img(src="c/4.jpg").blur
            h3 
              a(href=a4url) #{a4title}
            p #{a4desc}
            a(class="co" href=a4comUrl) #{a4comCount} comments
          section
            .i
              img(src="c/5.jpg").blur
            h3 
              a(href=a5url) #{a5title}
            p #{a5desc}
            a(class="co" href=a5comUrl) #{a5comCount} comments
          section
            .i
              img(src="c/6.jpg").blur
            h3 
              a(href=a6url) #{a6title}
            p #{a6desc}
            a(class="co" href=a6comUrl) #{a6comCount} comments
        .c3
          section
            .i
              img(src="c/7.jpg").blur
            h3 
              a(href=a7url) #{a7title}
            p #{a7desc}
            a(class="co" href=a7comUrl) #{a7comCount} comments
          section
            .i
              img(src="c/8.jpg").blur
            h3 
              a(href=a8url) #{a8title}
            p #{a8desc}
            a(class="co" href=a8comUrl) #{a8comCount} comments
          section
            .i
              img(src="c/9.jpg").blur
            h3 
              a(href=a9url) #{a9title}
            p #{a9desc}
            a(class="co" href=a9comUrl) #{a9comCount} comments
