extends layout

block content
  header
    h1= title
  main
    .fe
      .i
        img(src=a0base64, data-src=a0img, id="0").blur
      aside
        a(href=a0url) 
          h2 #{a0title}
          p #{a0desc}
        a(href=a0comUrl) 
            .co #{a0comCount} comments
    .gr
      .c1
        section
          .i
            img(src=a1base64, data-src=a1img, id="1").blur
          a(href=a1url) 
            h3 #{a1title}
            p #{a1desc}
          a(href=a1comUrl) 
            .co #{a1comCount} comments
        section
          .i
            img(src=a2base64, data-src=a2img, id="2").blur
          a(href=a2url) 
            h3 #{a2title}
            p #{a2desc}
          a(href=a2comUrl) 
            .co #{a2comCount} comments
        section
          .i
            img(src=a3base64, data-src=a3img, id="3").blur
          a(href=a3url) 
            h3 #{a3title}
            p #{a3desc}
          a(href=a3comUrl) 
            .co #{a3comCount} comments
      .c2
        section
          .i
            img(src=a4base64, data-src=a4img, id="4").blur
          a(href=a4url) 
            h3 #{a4title}
            p #{a4desc}
          a(href=a4comUrl) 
            .co #{a4comCount} comments
        section
          .i
            img(src=a5base64, data-src=a5img, id="5").blur
          a(href=a5url) 
            h3 #{a5title}
            p #{a5desc}
          a(href=a5comUrl) 
            .co #{a5comCount} comments
        section
          .i
            img(src=a6base64, data-src=a6img, id="6").blur
          a(href=a6url) 
            h3 #{a6title}
            p #{a6desc}
          a(href=a6comUrl) 
            .co #{a6comCount} comments
      .c3
        section
          .i
            img(src=a7base64, data-src=a7img, id="7").blur
          a(href=a7url) 
            h3 #{a7title}
            p #{a7desc}
          a(href=a7comUrl) 
            .co #{a7comCount} comments
        section
          .i
            img(src=a8base64, data-src=a8img, id="8").blur
          a(href=a8url) 
            h3 #{a8title}
            p #{a8desc}
          a(href=a8comUrl) 
            .co #{a8comCount} comments
        section
          .i
            img(src=a9base64, data-src=a9img, id="9").blur
          a(href=a9url) 
            h3 #{a9title}
            p #{a9desc}
          a(href=a9comUrl) 
            .co #{a9comCount} comments
  script(src=jsHash, type='text/javascript', async, defer)
