extends layout

block content
  .wr
    header
      .mh
        h1= title
      .ti
        marquee
          ul
            li #{a0title}
            li #{a1title}
            li #{a2title}
            li #{a3title}
            li #{a4title}
            li #{a5title}
            li #{a6title}
            li #{a7title}
            li #{a8title}
            li #{a9title}
    main
      .fe
        .l
          img(src="c/0.jpg").blur
        .r
          section
            h2 #{a0title}
            p #{a0desc}
      .gr
        .c1
          section
            .i
              img(src="c/1.jpg").blur
            h3 #{a1title}
            p #{a1desc}
          section
            .i
              img(src="c/2.jpg").blur
            h3 #{a2title}
            p #{a2desc}
          section
            .i
              img(src="c/3.jpg").blur
            h3 #{a3title}
            p #{a3desc}
        .c2
          section
            .i
              img(src="c/4.jpg").blur
            h3 #{a4title}
            p #{a4desc}
          section
            .i
              img(src="c/5.jpg").blur
            h3 #{a5title}
            p #{a5desc}
          section
            .i
              img(src="c/6.jpg").blur
            h3 #{a6title}
            p #{a6desc}
        .c3
          section
            .i
              img(src="c/7.jpg").blur
            h3 #{a7title}
            p #{a7desc}
          section
            .i
              img(src="c/8.jpg").blur
            h3 #{a8title}
            p #{a8desc}
          section
            .i
              img(src="c/9.jpg").blur
            h3 #{a9title}
            p #{a9desc}
