extends layout

block content
  .wr
    header
      .mh
        h1= title
    main
      .fe
        .i
          img(src="c/0.jpg").blur
        aside
          a(href=a0url) 
            h2 #{a0title}
            p #{a0desc}
          a(href=a0comUrl) 
              .co #{a0comCount} comments
      .gr
        .c1
          section
            .i
              img(src="c/1.jpg").blur
            a(href=a1url) 
              h3 #{a1title}
              p #{a1desc}
            a(href=a1comUrl) 
              .co #{a1comCount} comments
          section
            .i
              img(src="c/2.jpg").blur
            a(href=a2url) 
              h3 #{a2title}
              p #{a2desc}
            a(href=a2comUrl) 
              .co #{a2comCount} comments
          section
            .i
              img(src="c/3.jpg").blur
            a(href=a3url) 
              h3 #{a3title}
              p #{a3desc}
            a(href=a3comUrl) 
              .co #{a3comCount} comments
        .c2
          section
            .i
              img(src="c/4.jpg").blur
            a(href=a4url) 
              h3 #{a4title}
              p #{a4desc}
            a(href=a4comUrl) 
              .co #{a4comCount} comments
          section
            .i
              img(src="c/5.jpg").blur
            a(href=a5url) 
              h3 #{a5title}
              p #{a5desc}
            a(href=a5comUrl) 
              .co #{a5comCount} comments
          section
            .i
              img(src="c/6.jpg").blur
            a(href=a6url) 
              h3 #{a6title}
              p #{a6desc}
            a(href=a6comUrl) 
              .co #{a6comCount} comments
        .c3
          section
            .i
              img(src="c/7.jpg").blur
            a(href=a7url) 
              h3 #{a7title}
              p #{a7desc}
            a(href=a7comUrl) 
              .co #{a7comCount} comments
          section
            .i
              img(src="c/8.jpg").blur
            a(href=a8url) 
              h3 #{a8title}
              p #{a8desc}
            a(href=a8comUrl) 
              .co #{a8comCount} comments
          section
            .i
              img(src="c/9.jpg").blur
            a(href=a9url) 
              h3 #{a9title}
              p #{a9desc}
            a(href=a9comUrl) 
              .co #{a9comCount} comments
